/* ================================
  Fonts
================================ */
html {
    font-size:24px;
}
.header {
    background: red;
}

@media all and (max-width: 1023px) {
    .header__content {
        margin: 1rem 0;
    }
    .page__title{
        text-align: left;
        margin-bottom: 1rem;
    }
    .header__nav {
        -webkit-flex-flow: column;
        flex-direction: column;
        position: fixed;
        -webkit-transform: translate3d(calc(100% + 3rem),0,0);
        transform: translate3d(calc(100% + 3rem),0,0);
        -webkit-transition: transform 1s ease;
        transition: transform 1s ease;
        width: calc(100% - 3rem);
        padding:1.25rem;
        left:0;
        background: rgba(229,162,195,0.5);
    }
    .mobile-icon--gear {
        position: absolute;
        left: -3em;
        width: 3em;
        height:3em;
        background: rgba(229,162,195,0.5) url(../img/icon-gear.svg) no-repeat;
        content:'';
        top:50%;
        -webkit-transform: translate3d(0,-50%,0);
        transform: translate3d(0,-50%,0);
        border-radius:3rem 0 0 3rem;
        background-position: 10px;
        background-size: 70%;
        cursor: pointer;
        display: block;
    }

    .mobile-filter--open .header__nav {
        transform: translate3d(3rem,0,0);
    }
    .header-nav__flex-item {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .select-sort__select {
        width:100%;
    }
    .button {
        line-height: 2.2rem;
    }
    .button--new,
    .button--filter {
        margin-right:0;
    }
}
